h1 {
  text-align: center;
  clear: both;
  color: #262637;
  font-size: 30px;
  font: normal normal effra, Arial, sans-serif;
}

h2 {
  text-align: center;
  clear: both;
  color: #262637;
  font-size: 24px;
  font: normal normal effra, Arial, sans-serif;
}

p {
  text-align: center;
}
