<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="HR System demo project">
    <meta name="author" content="HRSystemTeam">
    <title>HR System</title>

</head>

<body>
<h1>Add employee title</h1>

<table>
    <tr>
        <form action="/AddEmployeeTitle" th:object="${request}" method="post">

            <label for="title">Employee title:</label><br>
            <input type="text" placeholder="enter title" id="title" name="title" th:field="${request.title}"><br>
            <br>
            <label for="description">Title description:</label><br>
            <input type="text" placeholder="enter title description" id="description" name="description" th:field="${request.description}"><br>
            <br>

            <td>
                <input type="submit" value="Add employee title"/>
                <input type="reset" value="Clear"/>
            </td>
        </form>
    </tr>
</table>
<br>
<form action="/adminPage" method="get">
    <input type="submit" value="Go to the admin page" name="Submit"/>
</form>

<td th:if="${errors != null}">
    <tr th:each="error : ${errors}">
        <td th:text="${error.field}"></td>
        <td th:text="${error.message}"></td><br>
    </tr>
</td>

</body>
</html>