<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="HR System demo project">
    <meta name="author" content="TeamJavaGuru">
    <title>HR System</title>
</head>

<body>

<h3>Authorization</h3>
<fieldset>
    <legend>Enter the data</legend>>
    <table>
        <tr>
            <td><label for="login">Enter email: </label></td>
            <td>Enter password:</td>
        </tr>

        <tr>
            <form action="/authorizeUser" autocomplete="off" th:object="${request}" method="post">

                <td><input type="email" autofocus id="login" name="login"
                       placeholder="user@gmail.com" autocomplete="on" th:field="${request.email}"/></td>

                <td><input type="password" id="password" name="password" required
                       placeholder="*********" th:field="${request.password}"/></td>

                <td>
                    <input type="submit" value="Login"/>
                    <input type="reset" value="Clear"/>
                </td>
            </form>
        </tr>
    </table>
</fieldset>

<td th:if="${errors != null}">
    <tr th:each="error : ${errors}">
        <td th:text="${error.field}"></td>
        <td th:text="${error.message}"></td>
    </tr>
</td>

</body>

</html>