<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="HR System demo project">
    <meta name="author" content="HRSystemTeam">
    <title>HR System</title>

    <style>
    table, th, td {
    border: 1px solid black;
    border-collapse: separate;
    }

    th, td {
    padding: 5px;
    }

    th {
    text-align: left;
    }
    </style>

</head>

<body>
<header>
    <h1>All Users</h1>
</header>

<table style="width:50%">

    <tr>
        <th>Id</th>
        <th>Role</th>
        <th>Name</th>
        <th>Surname</th>
    </tr>

        <tr th:if="${users != null}" th:each="user : ${users}">
            <td th:text="${user.id}"/>
            <td th:text="${user.userRole}"/>
            <td th:text="${user.firstName}"/>
            <td th:text="${user.lastName}"/>
        </tr>

</table>

<br>

<form action="/adminPage" method="get">
    <input type="button" onclick="history.back();" value="Back"/>
</form>

</body>
</html>