<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="HR System demo project">
    <meta name="author" content="HRSystemTeam">
    <title>HR System</title>

    <style>
    table, th, td {
    border: 1px solid black;
    border-collapse: separate;
    }

    th, td {
    padding: 5px;
    }

    th {
    text-align: left;
    }
    </style>

</head>

<body>
<h1>All employees</h1>

<table style="width:50%">
    <tr>
        <th>Id</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Age</th>
        <th>Title</th>
    </tr>

        <tr th:if="${employees != null}" th:each="employee : ${employees}">
            <td th:text="${employee.id}"/>
            <td th:text="${employee.name}"/>
            <td th:text="${employee.lastName}"/>
            <td th:text="${employee.age}"/>
            <td th:text="${employee.title}"/>
        </tr>

</table>

<br>

<form action="/adminPage" method="get">
    <input type="button" onclick="history.back();" value="Back"/>
</form>

</body>
</html>