<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="HR System demo project">
    <meta name="author" content="HRSystemTeam">
    <title>HR System</title>

</head>

<body>

<!--<img src="img/figury-geometriia-abstraktnye.jpeg" alt="абстрактный фон" style="float:left; margin-right:10px;"/>-->

<div><h2>Login menu</h2></div>
<ul id="menu">

    <a href="/registerUser">Registration</a> <br>
    <a href="/authorizeUser">Authorization</a> <br>

</ul>
</body>
</html>