<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="HR System demo project">
    <meta name="author" content="TeamJavaGuru">
    <title>HR System</title>
</head>

<body>

<h3>Registration</h3>

<fieldset>
    <legend>Enter the data</legend>>
        <table>
            <tr>
                <td>Role:</td>
                <td>Name:</td>
                <td>Surname:</td>
                <td>Email:</td>
                <td>Password:</td>
            </tr>

            <tr>
                <form action="/registerUser" autocomplete="off" th:object="${request}" method="post">

                    <td>

                        <select type="text" th:field="${request.userRole}"/>
                        <option disabled selected>Select role</option>
                        <option value="ADMIN">ADMIN</option>
                        <option value="HR_MANAGER">HR_MANAGE</option>

                    </td>

                    <td><input type="text" required placeholder="your name" th:field="${request.firstName}"/></td>
                    <td><input type="text" required placeholder="your surname" th:field="${request.secondName}"/></td>
                    <td><input type="email" required placeholder="user@gmail.com" th:field="${request.email}"/></td>
                    <td><input type="password" required placeholder="*********" th:field="${request.password}"/></td>

                    <td>

                        <input type="submit" value="Registration"/>
                        <input type="reset" value="Clear"/>

                    </td>
                </form>
            </tr>
        </table>
</fieldset>>

<td th:if="${errors != null}">
    <tr th:each="error : ${errors}">
        <td th:text="${error.field}"></td>
        <td th:text="${error.message}"></td>
    </tr>
</td>

</body>

</html>