<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="HR System demo project">
    <meta name="author" content="HRSystemTeam">
    <title>HR System</title>

</head>

<body>
<h1>Search Employees</h1>

<table>

    <tr>
        <form action="/SearchEmployees" th:object="${request}" method="post">

            <label for="emplTitle">Employee title:</label><br>
            <input type="text" placeholder="enter employee title" id="emplTitle" name="emplTitle" th:field="${request.employeeTitle}"><br>
            <br>
            <label for="fname">Employee name:</label><br>
            <input type="text" placeholder="enter name" id="fname" name="fname" th:field="${request.name}"><br>
            <br>

            <td>
                <input type="submit" value="Search Employees"/>
                <input type="reset" value="Clear"/>
            </td>
        </form>
    </tr>
</table>
<br>


<td th:if="${errors != null}">
    <tr th:each="error : ${errors}">
        <td th:text="${error.field}"></td>
        <td th:text="${error.message}"></td><br>
    </tr>
</td>


<table style="width:50%">
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Age</th>
        <th>Title</th>
    </tr>

    <td th:if="${employees != null}">
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.name}"/>
            <td th:text="${employee.lastName}"/>
            <td th:text="${employee.age}"/>
            <td th:text="${employee.title}"/>
        </tr>
    </td>

</table>

<br>
<form action="/adminPage" method="get">
    <input type="submit" value="Go to the admin page" name="Submit"/>
</form>

</body>
</html>
