<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Auction demo project">
    <meta name="author" content="HardCore">
    <title>Auction</title>
</head>

<body>

<h3>Program menu</h3>

<a href="/Login">Login</a> <br>
<a href="/registerNewUser">Register new user</a> <br>
<a href="/addNewLotToList">Add new lot to lot list</a> <br>
<a href="/addNewBetToList">Add new bet for lot with ID</a> <br>
<a href="/showAllBetsFromBetList">Show all bet list</a> <br>
<a href="/showAllLotsFromLotList">Show all lots</a> <br>
<a href="/showAllUsersFromUserList">Show all existing users</a> <br>
<a href="/removeLotFromTheList">Remove lot from listing</a> <br>
<a href="/removeBetFromTheList">Remove bet</a> <br>
<a href="/showAllBetsForOneLot">Show ALL bet history for one lot with ID</a> <br>
<a href="/showHighestBetForLotWithId">Show HIGHEST bet for lot with ID</a> <br>
<a href="/exitFromProgram">Exit from program</a> <br>





</body>

</html>
