<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Auction demo project">
    <meta name="author" content="HardCore">
    <title>Auction</title>
</head>

<body>

<h3>Program menu</h3>

<a href="/login">Login</a> <br>
<br>
<a href="/registerUser">Register new user</a> <br>
<br>
<a href="/addNewLotToList">Add new lot to lot list</a> <br>
<br>
<a href="/addNewBet">Add new bet for lot with ID</a> <br>
<br>
<a href="/showAllBets">Show all bet list</a> <br>
<br>
<a href="/showAllLots">Show all lots</a> <br>
<br>
<a href="/showAllUsers">Show all existing users</a> <br>
<br>
<a href="/removeLot">Remove lot from listing</a> <br>
<br>
<a href="/removeBet">Remove bet</a> <br>
<br>
<a href="/showAllBetsForOneLot">Show ALL bet history for one lot with ID</a> <br>
<br>
<a href="/showHighestBet">Show HIGHEST bet for lot with ID</a> <br>





</body>

</html>
