<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Zero Waste Restaurant demo project">
    <meta name="author" content="The DreamTeam">
    <title>Zero Waste Restaurant</title>
</head>

<body>

<h3>Add New Product</h3>

<table>
    <tr>
        <td>Name:</td>
        <td>Quantity:</td>
        <td>Price:</td>
        <td>ExpiryDate:</td>
    </tr>

    <tr>
        <form action="/addProduct" th:object="${productRequest}" method="post">
            <td><input type="text" th:field="${productRequest.name}"/></td>
            <td><input type="text" th:field="${productRequest.quantity}"/></td>
            <td><input type="text" th:field="${productRequest.price}"/></td>
            <td><input type="text" th:field="${productRequest.date}"/></td>
            <td>
                <input type="submit" value="Add Product"/>
                <input type="reset" value="Clear"/>
            </td>
        </form>
    </tr>
</table>

<tr>

</tr>
<td th:if="${errors != null}">
    <tr th:each="error : ${errors}">
        <td th:text="${error.field}"/>
        <td th:text="${error.message}"/>
    </tr>
</td>

</body>

</html>