<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Zero Waste Restaurant demo project">
    <meta name="author" content="The DreamTeam">
    <title>Zero Waste Restaurant</title>
    <link rel="stylesheet" type="text/css" th:href="@{../css/styles.css}"/>
</head>
<body>
        <img th:src="@{../logo/logo.jpg}" width="200" height="200"/>

        <h2> Program menu </h2>

        <a href="/userRegistration">1. Registration</a> <br>
        <a href="/userLogin">2. User login</a> <br>
        <a href="/addDishToTheList">3. Add new dish</a> <br>
        <a href="/addProduct">4. Add new product</a> <br>
        <a href="/removeProductFromTheList">5. Remove product</a> <br>
        <a href="/removeDishFromTheList">6. Remove dish</a> <br> <!--processing...Andrejs.B..-->
        <a href="/searchDishes">7. Search dishes</a> <br>  <!--processing...Andrejs.B..-->
        <a href="/searchProducts">8. Search products</a> <br>
        <a href="/searchIngredients">9. Search ingredients</a> <br>
        <a href="/getAllDishes">10. Show all dishes</a> <br>
        <a href="/getAllProducts">11. Show all products</a> <br>
        <a href="/getAllOrders">12. Show all orders</a> <br>
        <a href="/showMenu">13. Show restaurant menu</a> <br>
        <a href="/createNewOrder">14. Create new order</a> <br>
        <a href="/changePassword">15. Change password</a> <br>
        <a href="/changeUserRole">16. Change user role</a> <br>
        <a href="/exit">17. Exit</a> <br>


</body>
</html>