<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Zero Waste Restaurant demo project">
    <meta name="author" content="The DreamTeam">
    <title>Zero Waste Restaurant</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!--    <link rel="stylesheet" href="/css/styles.css"/>-->
</head>
<body>
<!--        <img src="../logo/logo.jpg" width="200" height="200"/>-->

        <h2> Program menu </h2>

        <a href="/userRegistration">1. Registration</a> <br>
        <a href="/userLogin">2. User login</a> <br>
        <a href="/addDishToTheList">3. Add new dish</a> <br>
        <a href="/addIngredient">4. Add dish ingredients</a> <br>
        <a href="/addProduct">5. Add new product</a> <br>
        <a href="/removeProductFromTheList">6. Remove product</a> <br>
        <a href="/removeDishFromTheList">7. Remove dish</a> <br>
        <a href="/searchDishes">8. Search dishes</a> <br>
        <a href="/searchProducts">9. Search products</a> <br>
        <a href="/searchIngredients">10. Search ingredients</a> <br>
        <a href="/searchDishIngredients">11. Search dish ingredients</a> <br> <!-- in progress-->
        <a href="/getAllDishes">12. Show all dishes</a> <br>
        <a href="/getAllProducts">13. Show all products</a> <br>
        <a href="/getAllOrders">14. Show all orders</a> <br>
        <a href="/showMenu">15. Show restaurant menu</a> <br>
        <a href="/createNewOrder">16. Create new order</a> <br>
        <a href="/changePassword">17. Change password</a> <br>
        <a href="/changeUserRole">18. Change user role</a> <br>
        <a href="/exit">19. Exit</a> <br>





</body>
</html>