<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Zero Waste Restaurant demo project">
    <meta name="author" content="The DreamTeam">
    <title>Zero Waste Restaurant</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>
<div class="w3-panel w3-card-4 w3-orange"><p>Search dish ingredients</p></div>

<table class="w3-table-all">
    <tr>
        <td>Dish id:</td>

    </tr>
    <tr>
        <form action="/searchDishIngredients" th:object="${request}" method="post">
            <td><input type="text" th:field="${request.dishId}"/></td>
            <td><input type="submit" value="Search ingredients"/>
                <input type="reset" value="Clear"/></td>
        </form>
    </tr>
</table>
<td th:if="${errors != null}">
    <tr th:each="error : ${errors}">
        <td th:text="${error.field}"/>
        <td th:text="${error.message}"/>
    </tr>
</td>

<td th:if="${ingredients != null}">
    <tr th:each="ingredient : ${ingredients}">
        <td>Ingredient name:</td>
        <td th:text="${ingredient.name}"/>
        <td>Ingredient id:</td>
        <td th:text="${ingredient.dishIngredientID}"/>

    </tr>
</td>

<form action="/" method="get">
    <input type="submit" value="Go to main page" name="Submit"/>
</form>
</body>
</html>