@font-face {
    font-family: 'PT_Serif';
    src: url(fonts/PT_Serif/PTSerif-Regular.ttf);
    font-weight: normal;
    font-style: normal;
    }

    @font-face {
    font-family: 'PT_Serif';
    src: url(fonts/PT_Serif/PTSerif-Bold.ttf);
    font-weight: bold;
    font-style: normal;
    }

    @font-face {
    font-family: 'PT_Serif';
    src: url(fonts/PT_Serif/PTSerif-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
    }

    @font-face {
    font-family: 'PT_Serif';
    src: url(fonts/PT_Serif/PTSerif-Italic.ttf);
    font-weight: normal;
    font-style: italic;
    }

    body {
    font-family: PT_Serif;
    background-color: #f5f5f5;
    }

    h1 {
    padding: 1em 2em 1em 2em;
    margin: 1em 15em 3em 18em;
    display:inline-block;
    box-sizing: border-box;
    }

    table {
    padding: 0.35em 1.2em;
    border: 0.1em;
    margin: 0.1em 5em 0.1em 5em;
    }

    .button {
    display:inline-block;

    padding: 0.35em 1.2em;
    border: 0.1em solid #1e90ff;
    margin: 0.1em 1em 0.1em 1em;
    border-radius: 5px;
    box-sizing: border-box;
    width: 7em;
    height: 5em;

    font-size: large;
    text-decoration: none;
    font-weight: 300;
    color: #000000;
    text-align: center;
    }

    footer {
    margin: 200px 10px 10px 1000px;
    color: #708090;
    }